In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_excel("insurance data.xlsx")

In [3]:
df.head()

  Unnamed: 0 Unnamed: 1
0        Age  Insurance
1         12          0
2         15          0
3         16          0
4         24          0

In [4]:
df.columns = df.iloc[0]

In [5]:
df.drop(0,axis=0,inplace=True)

In [6]:
df.head()

0 Age Insurance
1  12         0
2  15         0
3  16         0
4  24         0
5  25         0

In [7]:
lr=0.1
epochs=1000

In [8]:
m= np.random.randn()
c=np.random.randn()
m,c

(-0.6624376805001805, 0.5877877578544601)

In [9]:
x=df["Age"]
y=df["Insurance"]

In [10]:
scalar = StandardScaler()
scaled_x = scalar.fit_transform(df[["Age"]])

In [11]:
def sigmoid(z):
    return 1 / (1+np.exp(-z))

In [12]:
loss = []

In [13]:
for i in range(epochs):
    z = m*scaled_x.ravel()+c
    pred = sigmoid(z)

    loss.append(- np.sum(y * np.log(pred)+(1-y) * np.log(1-pred)))

    m_slope = np.mean(scaled_x.ravel() * (pred-y))
    c_slope = np.mean(pred-y)

    m= m - (lr * m_slope)
    c= c - (lr * c_slope)

In [14]:
m,c

(np.float64(1.4790292972406625), np.float64(0.4648617053948562))